*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font style */
.inter-font {
  font-family: "Inter", sans-serif;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
}
/* common style */

.color-bg{
  background-color: #FEEAE9;
}
.body-bg-color{
  background: #F4F4F4;
}
.primary-btn{
  cursor: pointer;
  border: none;
  padding: 14px 40px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  background: var(--Linear, linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%));
}
.primary-btn:hover{
  background: #000;
  transition: 0.5s;
}

/* header section */

/* nav */
.container{
  max-width: 1125px;
  margin:  auto;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
  padding: 20px 0;
}
.search-parent{
  position: relative;
}
.search-parent input{
  padding: 12px;
  width: 390px;
  border-radius: 66px;
  background-color: #F1F1F1;
  border: none;
}
.search-parent i{
  position: absolute;
  top: 15px;
  right: 14px;
  color: #BABABA;
}
.search-parent i:hover{
  color: black;
}

.nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  list-style: none;
}
.nav-items li a{
  text-decoration: none;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}
/* .nav-items input::after{
  border: none;
} */
.nav-items li a:hover{
  color: #1F1F1F;
}
/* banner section */
.banner{
  max-width: 1225px;
  margin: auto;
  padding: 45px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.banner-content h1{
  color: #1F1F1F;
  font-size: 52px;
  font-weight: 700;
}
.banner-content p{
  margin-bottom: 20px;
  color: #4E4E4E;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.cost{
  margin-bottom: 10px;
  display: block;
  color: #FF136F;
  font-size: 41px;
  font-weight: 400;
}
.banner-img ,.banner-content{
  width: 50%;
}
.banner-img img{
  width: 100%;
}
/* Categories section */
.Categories{
  margin: 50px auto;
}
.section-tittle{
  color: #1F1F1F;
  font-size: 36px;
  font-weight: 600;
}
.categories-card{
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 24px;
}
.card{
  border-radius: 10px;
  padding: 15px 25px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card:nth-child(1){
  background: linear-gradient(152deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.card:nth-child(2){
  background:  var(--Linear, linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%));
}
.card:nth-child(3){
  background: linear-gradient(170deg, #4289FF -10.89%, #3F07F8 92.77%);
}
.card h4{
  color: #FFF;
  font-size: 36px;
  font-weight: 400;
}
.card img{
  width: ;
}
/* shoes section */
.shoes{
  padding: 45px 0 95px;
}
.product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.product p{
  color: #FF9D00;
  font-size: 20px;
  font-weight: 400;
}
/*  shoes card section */
.products{
  display: flex;
  gap: 15px;
}
.products-card{
  border-radius: 20px;
  background: #FFF;
  text-align: center;
  padding: 24px;
}
.img-card{
  width: 300px;
}
.img-card img{
  width: 100%;
}
.card-tittle{
  color: #1F1F1F;
  font-size: 22px;
  font-weight: 600;
}
.card-description{
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0;
}
.card-cost{
  display: block;
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
.card-btn{
  cursor: pointer;
  border-radius: 6px;
  background: #000;
  padding: 14px 20px;
  gap: 10px;
  color: #FFF;
  margin-top: 16px;
  border: none;
  transition: 0.5s;
}
.card-btn:hover{
  background: var(--Linear, linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%));
  
  transform: scaleX(1.2);
}
/* backpack section */
  .backpack{
    padding-bottom: 95px;
  }
/* footer section */
footer{
  background: #FFF;
  padding: 75px 0;
}
.footer-container{
  background: #FFF2F1;
  width: 1212px;
  margin: auto;
  padding: 145px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}
.footer-content h5{
  color: #1F1F1F;
  font-size: 30px;
  font-weight: 600;
}
.footer-content p{
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}
.footer-input{
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.footer-input input[type="email"]{
  border-radius: 10px 0 0 10px;
  width: 583px;
  height: 53px;
  border: none;
  padding: 22px 35px;
  color: #CCC;
  font-size: 24px;
  font-weight: 400;
}
.footer-input button{
  background: linear-gradient(180deg, #FF589B 0%, #FF136F 100%);
  border-radius: 0 10px 10px 0;
  padding: 9px 30px;
  cursor: pointer;
  border: none;
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
}
.footer-input button:hover{
  background: #000;
  transition: 0.5s;
}





@media screen and (max-width:576px) {
  /* common style */
  .primary-btn {
    width: auto;
    padding: 11px 15px;
    font-size: 15px;
  }
  .section-tittle{
    text-align: center;
  }
  /* custom style */
  nav{
    flex-direction: column;
    gap: 10px;
    padding: 12px 0;
  }
  .search-parent input {
    width: auto;
  }
  /* banner */
  .banner{
    text-align: center;
    flex-direction: column-reverse;
  }
  .banner-img ,.banner-content{
  width: auto;
  }
  .banner-img ,.banner-content{
    width: auto;
  }
  .banner-content h1 {
    font-size: 35px;
  }
  .banner-img img{
      width: 70%;
  }
  .cost {
    font-size: 24px;
    
  }
  .banner-content p {
    margin-bottom: 13px;
    line-height: 23px;
  }
  /* categories */
  .categories-card {
    flex-direction: column;
    margin: 0 20px;
  }
  .card{
    width: 100%;
  }
  /* shoes products */
  .product {
    margin: 0 20px 24px;
  }
  .products {
    flex-direction: column;
    margin: 0 20px;
  }
  .img-card {
    width: auto;
    height: auto;
  }
  .backpack {
    padding-bottom: 50px;
  }
  /* footer section */
  footer {
  padding: 35px 0;
}
  .footer-container {
    width: auto;
    padding: 50px 12px
  }
  .footer-input {
    flex-direction: column;
    gap: 10px;
  }
  .footer-input input[type="email"] {
    width: calc( 100% - 40px );
    border-radius: 10px;
  }
  .footer-input button {
    border-radius: 10px;
  }
  

}
@media screen and (min-width:577px) and (max-width:992px) {
  /* common style */
  .primary-btn {
    width: auto;
    padding: 11px 15px;
    font-size: 15px;
  }
  /* custom style */
  nav{
      flex-direction: column;
      gap: 20px;
      padding: 15px 0;
  }
  .banner{
    text-align: center;
    flex-direction: column-reverse;
  }
  .banner-img ,.banner-content{
    width: auto;
  }
  .banner-content h1 {
    font-size: 45px;
  }
  .banner-img img{
      width: 70%;
  }
  .cost {
    font-size: 30px;
  }
  /* categories */
  .categories-card {
    flex-direction: column;
    margin: 0 20px;
  }
  .card{
    width: 100%;
  }
  /* shoes product section */
  .product {
    margin: 0 20px 24px;
  }
  .products {
    flex-direction: column;
    margin: 0 20px;
  }
  
  .img-card {
    margin: 0 auto;
  }
  /* footer section */
  .footer-container {
    width: auto;
    padding: 113px 0;
  }
  .footer-input input[type="email"] {
    width: auto;
  }
}